* {
    margin: 0px;
    font-family: 'Nunito';
}

body {
    background-image: url("fondo.jpg") ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}



.contenedor {
    width: 40%;
    height: 80%;
    padding: 20px 0px;
    margin: auto;
    background-color: white;
    margin-top: 80px;
    text-align: center;
    border-radius: 20px;
    
    
}

.campo {
    position: relative;
    margin-bottom: 20px;
    text-align: left;

}
 .campo input {
    width: 90%;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
}

 .campo .icono {
    position: absolute;
    left: 15px;
    top: 12px;
    color: darkgrey;


 }

 :hover


